


<strong>About Dota Streaker</strong>
<br><br>
<p>Dota streaker is a simple practice app written by a <a href="http://koalamo.com/">novice programmer</a>/long time dota fan.
<br><br><br>
<strong>Technical</strong><br><br>
<p>Dota streaker is written in <a href="https://www.ruby-lang.org/">ruby</a> using <a href="http://www.sinatrarb.com/">Sinatra</a> and Heroku. <br>
	It makes two series of API calls - one to get a match list for the player, and then another to get the match details for the 
	last X matches to determine the win results for those matches.
	<br><br>
	It then takes the converted steam ID and finds the team they were on in order to compare that to the winning team of the match and results the output, with a snarky/complementary remark below it.
	<br><br>
	<a href="https://github.com/bananatron/dota-streaker">View the source here</a>.<br>
	<font size=2> (This is my first app with ruby, so be gentle.) </font>
	<br><br>