
<center>
	<form method="POST" action="/result">
	<label form="username">32 or 64-bit Steam ID:</label><br>
	<input maxlength="20" type="text" id="username" name="username" /><br>
	<input type="submit" />
	</form>
<br>
<i><b><font color = "red">WARNING</b></font> : By choosing <i>SUBMIT</i> you are requiring us to tunnel into the depths of Gabe's intestines for sensetive information. 


<br><font size= 2>This is dangerous, and can take time.</font></i>
<br><br>
<a href="http://steamidconverter.com/"><font size=1>Need help finding your steam ID?</font></a>
<br><br>
</center>
